<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lotto Generator</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <script>
    if (window.history.replaceState) {
      window.history.replaceState(null, null, window.location.href);
    }
  </script>
</head>

<body>
  <nav class="navbar is-dark">
    <div class="container">
      <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              Lotto Number Generator
            </a>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a href="https://github.com/sebdroid/risky-bootcamp" class="button is-link">Github</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <section class="hero is-dark is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns is-vcentered">
          <div class="column">
            <p class="title">
              Your random numbers:
            </p>

            <p class="subtitle">
              {% if numbers %}
              {{ numbers }}
              {% endif %}
            </p>
            <form action="/" method="get">
              <input class="button is-link" type="submit" value="More">
            </form>
            
          </div>
          <div class="column" {% if cookies %} style="overflow-y: scroll;max-height: 60vh;" {% endif %}>
            {% if cookies %}
            <p class="title">
              Old numbers:
              {% if cookies %}
            <form action="/" method="post">
              <input class="button is-danger" type="submit" value="Clear">
            </form>
            {% endif %}
            </p>
            <p class="subtitle">
              {% for cookie in cookies %}
              {{ cookie }}
              <br>
              {% endfor %}
            </p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>